html, body{
height: 100%;
}

body{
	display: flex;
	flex-direction: column;
	background-color: #C9C6B3;
}

main{
	flex:1 0 auto;
}
h4 {
	margin-bottom: 190px;
	font-size: 36px;
	margin-right: 68px;

}

footer{
	flex-shrink: 0;

}
header{
	background: no-repeat center center;
	background-size: cover;
	color: white;

}

.cruz-portrait {
		box-shadow: 0 0 10px rgba(29, 29, 29, 29);
		border-radius: 30px;
		margin-bottom: 14px;
}
.row {
	padding-left: 16px;
}
.container-box {
  box-shadow: 0 0 10px rgba(29, 29, 29, 29);
  padding: 22px;
  border-radius: 24px;
  margin: 36px;
  width: 580px;
  height: 480px;
  padding-left: 30px;
}
.form-label {
	width: 500px;
}
.color-overlay{
	background-color: rgba(0, 0, 0, 0.4);
	min-height: 60vh;

}
.card {
    box-shadow: 0 8px 10px rgba(29, 29, 29, 29); 
    transition: box-shadow 0.2s ease-in-out; 
     }

  .card:hover {
    box-shadow: 0 12px 24px rgba(29, 29, 29, 29);
  }

.singleCol{
	max-width: 765px;

}

.btn-outline-dark {
	background-color: #C2C2C2;
}
.btn-outline-dark:hover {
	background-color: #413D3E;
}

footer{
	background-color: #3a3a3a;
	color: white;
	position: ;
}

footer a {
	color: white;
}

footer a:hover{
	color: #dfdfdf;
}
	
@media (max-width: 768px){
	.color-overlay{
		min-height: 30vh;
	}
}

